@font-face {
  font-family: 'Iconic';
  src: url('open-iconic.woff') format('woff'), url('open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;
  background-color: #21ce99;
  padding: 15px 0;
  margin-bottom: 50px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: auto;
}

.sortable-column-header {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sortable-column-header::after {
  font-family: Iconic;
  content: '\00A0';
  display: inline-block;
  font-size: 12px;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased;
}

.descending::after {
  content: '\e02d';
}

.ascending::after {
  content: '\e030';
}
